

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
   background-color: rosybrown;
   font-size: large;
   font-weight: 400;

   background-image: url('https://pbs.twimg.com/profile_images/1684924665058238464/9VhmPpkG_400x400.jpg');
}












